/* Estilos para el modo claro */
:root {
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
}

h1{
  background-color: magenta;
  color: olivedrab;
  font-family: Impact;
  font-size: 40px;
}


/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #030303;
  }
  h1{
    background-color: aquamarine;
    color: antiquewhite;
    font-family: Impact;
  }
}
