/* Establecer la fuente y colores básicos */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fondo gris claro */
  color: #333; /* Texto oscuro */
}

/* Estilo del encabezado */
header {
  background-color: #dd677b; /* Rosa pastel */
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  color: #333;
}

header p {
  font-size: 18px;
  color: #666;
}

/* Botón de llamada a la acción */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9370DB; /* Lila pastel */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #6A5ACD; /* Lila más oscuro al pasar el mouse */
}

/* Secciones principales */
section {
  padding: 40px;
}

/* Galería de mascotas disponibles */
.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.pet img {
  max-width: 100%;
  border-radius: 10px;
}

.pet h3 {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

.pet p {
  font-size: 16px;
  color: #666;
}

.pet a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #98FB98; /* Verde pastel */
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.pet a:hover {
  background-color: #32CD32; /* Verde más oscuro al pasar el mouse */
}

/* Pie de página */
footer {
  background-color: #FFC0CB; /* Rosa pastel */
  text-align: center;
  padding: 20px;
}

footer address p {
  font-size: 16px;
  color: #333;
}

.social-media a {
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
  color: #666;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #333;
}
/* Estilo de la imagen en el pie de página */
footer img {
  max-width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-right: 20px; /* Espacio a la derecha de la imagen */
}