/* Estilos para el modo claro */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container {
  color: #fff;
  background-color: #97da59;
  padding: 20px 0;
  display:flex;
  justify-content:center;
}

.menu {
  border: 1px solid #fff; 
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links {
  border: 1px solid #fff; 
  display: flex;
  justify-content: flex-end;
}

.login{
  margin-left: 20px;
}

/* .signup{
    margin-left: 20px;
} */

.header-container {
  color: #3a3a3a;
  background-color: #e3fed6;
  display: flex;
  justify-content: center;
}

.logo {
  width: 500px;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
flex-wrap: wrap;
}

.photo-grid-item img {
  width: 300px;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}



ol,
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  display: flex;
  background-color: #3a3a3a;
  align-items: center;
  justify-content: space-between;
}

header a img{
  color: white;
  font-size: 3em;
  padding: 0.5em;
}

header nav ul li a{
  color: white;
}


header nav ul{
  display: flex;
  gap: 10px;
}


@media (max-width: 768px) {
  header{
    display: flex;
    flex-wrap: nowrap;
    background-color: #3a3a3a;
    align-items: center;
    justify-content: center;
  }
  header nav ul{
    display: flex;
    align-items: stretch;
    gap: 5px;
  }
}

