/* body{
  background-color: bisque;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* h1{
  color:rgb(255, 0, 0);
}
p {
  color: #2600ff;
} */

/* .contenedor {
  background-color: black;
  color: white; 
} */
/* .gradient-text {
  background: linear-gradient(90deg,#ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background-size: 200% 100%;
  animation: gradientMove 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  
} */

/* .contenedor_2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
} */




/* @keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
} */


/* :root[data-theme="light"] {
  --text: #1c171b;
  --background: #f1eef1;
  --primary: #f278dd;
  --secondary: #d6cdd5;
  --accent: #043e8b;
} */
/* :root[data-theme="dark"] {
  --text: #e8e3e7;
  --background: #110e11;
  --primary: #870d72;
  --secondary: #322931;
  --accent: #74affb;
} */







body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F688CA;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav {
  background-color: #F688CA;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #000; /* Línea negra en la parte inferior */
}

.logo img {
  max-width: 50px; /* Ajusta el ancho máximo de tu logo según sea necesario */
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}

.navbar a {
  text-decoration: none;
  color: #280B1C; /* Color de texto blanco */
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #E3DC9C; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos de la sección de introducción */

.intro-section {
  text-align: center;
  margin-bottom: 30px;
}

.intro-section h2 {
  color: #280B1C; /* Color azul para el título */
}

.intro-section p {
  line-height: 1.5;
}

.image-container {
  max-width: 100%;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

/* Estilos de la sección de características */

.features-section {
  text-align: center;
  margin-bottom: 30px;
}

.features-section h2 {
  color: #323FB3; /* Color azul para el título */
}

.feature-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #E3DC9C; /* Color de fondo gris claro para las tarjetas */
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1; /* Ocupar el espacio disponible */
  max-width: 300px; /* Ancho máximo de cada tarjeta */
}

.feature-card h3 {
  color: #e74c3c; /* Color rojo para los títulos de las tarjetas */
}

/* Estilos de la sección de historia */

.history-section {
  text-align: center;
}

.history-section h2 {
  color: #323FB3; /* Color azul para el título */
}

.history-section p {
  line-height: 1.5;
}


/* Estilos del pie de página */

footer {
  background-color: #323FB3; /* Color de fondo del pie de página */
  color: #78CCFC; /* Color de texto blanco */
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}
/* --text: #280B1C;
--background: #F688CA;
--primary: #E3DC9C;
--secondary: #78CCFC;
--accent: #323FB3; */
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #E3DC9C; /* Color de encabezado azul */
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section a {
  color: #78CCFC;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #fff; /* Línea superior blanca */
}