@font-face {
  font-family: 'Monaspace Krypton';
  src: url('/Assets/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2') format('woff2');
  font-weight: 100 350;
  font-stretch: 100% 200%;
  font-style: normal;
}

.test{
  --text: #280B1C;
  --background: #F688CA;
  --primary: #E3DC9C;
  --secondary: #78CCFC;
  --accent: #323FB3;
}

body {
  font-family: 'Monaspace Krypton', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #F688CA, #E3DC9C);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav {
  background-color: #F688CA;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.logo img {
  max-width: 50px;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}

.navbar a {
  text-decoration: none;
  color: #280B1C;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #E3DC9C;
}

/* Estilos de la sección de introducción */

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

.intro-section h2 { 
 color: #280B1C;
  margin-left: 5%;
  margin-bottom: 300px;
}

.intro-section p {
  line-height: 1.5;
  max-width: 50%;
  margin-left: 10%;
}

.image-container {
  border-color: #000;
  /* margin-left: 20px;  Ajusta según sea necesario para separar el texto de la imagen */
}

.image-container img {
  border-radius: 2.5%;
  max-width: 60%;
  height: auto;
}

/* Estilos de la sección de características */
.features-section {
  text-align: center;
  margin-bottom: 30px;
}

.features-section h2 {
  color: #323FB3; /* Color azul para el título */
}

.feature-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-card {
  background: linear-gradient(to top left, #FF9E68, #FF68DE);
  border: 2px solid #78CCFC;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1; 
  max-width: 300px;
  text-align: center;
}

.feature-card img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho de la tarjeta */
  border-radius: 10px 10px 10px 10px; /* Añade bordes redondeados solo arriba */
}

.feature-card h3 {
  color: #e74c3c; /* Color rojo para los títulos de las tarjetas */
}


/* Estilos de la sección de historia */

.history-section {
  text-align: center;
}

.history-section h2 {
  color: #323FB3; /* Color azul para el título */
}

.history-section p {
  line-height: 1.5;
}


/* Estilos del pie de página */

footer {
  background-color: #323FB3;
  color: #78CCFC;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #E3DC9C;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section a {
  color: #323FB3;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.footer-section a:visited {
  color: #000; /* Cambiado a negro para enlaces visitados */
}

.footer-section a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #78CCFC;
  transition: width 0.3s;
}

.footer-section a:hover:after {
  width: 100%;
  background-color: #F688CA; /* Cambiado a rojo cuando se hace hover */
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.footer-bottom a {
  text-decoration: none;
  color: #5bbff8;
}


/* Estilos generales para dispositivos móviles */
@media only screen and (max-width: 768px) {
  body {
    background: linear-gradient(to bottom right, #F688CA, #E3DC9C);
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .intro-section {
    flex-direction: column;
    text-align: center;
  }

  .intro-section h2 {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .intro-section p {
    max-width: 100%;
    margin-left: 0;
  }

  .image-container img {
    max-width: 100%;
  }

  .feature-cards-container {
    padding: 0 10px;
  }

  .feature-card {
    max-width: 100%;
  }

  .history-section p {
    max-width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 10px;
  }

  .footer-section a:after {
    background-color: #F688CA; /* Cambiado a color de fondo morado en dispositivos móviles */
  }

  .footer-bottom {
    font-size: 14px;
  }
}
