h1{
  padding: 50px;
  margin: 50px;
  border: 5px solid black;
}
p{
  padding: 50px;
  margin: 50px;
  border: 5px solid black;
}
div{
  background-color: #dde0e3;
  padding: 50px;
  margin: 50px;
  border: 5px solid black;
}

em{
  padding: auto;
  margin: auto;
  border: solid rgb(0, 255, 170);
}
strong{
  padding: auto;
  margin: auto;
  border: solid rgb(47, 0, 255);
}
span {
  background-color: #b2d6ff;
  padding: auto;
  margin: auto;
  border: solid rgb(255, 0, 200);
}