body{
  background-color: bisque;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color:rgb(255, 0, 0);
}
p {
  color: #2600ff;
}

.contenedor {
  background-color: black;
  color: white; /* Añadido para hacer el texto visible en el fondo negro */
}
.gradient-text {
  background: linear-gradient(45deg,#ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background-size: 200% 100%;
  animation: gradientMove 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  
}

.contenedor_2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
}




@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}


@media (max-width: 768px) {
  .contenedor_2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: center;
    
  }
  .contenedor {
    background-color: beige;
    color: white; /* Añadido para hacer el texto visible en el fondo negro */
  }
}