body{
  background-color: bisque;
}
h1{
  color: green;
  background-color: orange;
  font-family: helvetica;
  font-size: 40px;
  margin: 50px;
}

p{
  color: red;
  background-color: black;
  font-family: arial;
  font-size: 20px;  
  margin: 100px;
}