@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, navigation, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, navigation, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
			box-sizing: border-box;
			height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* Box Model */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* 2. Content elements */
body {
	font-family: "Nunito Sans", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5rem;
	color: #555555;
	background: #ededed;
	width: 100%;
	height: 100%;
	position: relative;
	resize: both;
	overflow: auto;
}
.card {
	max-width: 1080px;
	width: 75%;
	top: 50%;
	left: 50%;
	background: #ffffff;
	margin: 0 auto;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	overflow: auto;
	transform: translate(-50%, -50%);
	position: absolute;
}

.header {
	width: 100%;
	display: inline-block;
	margin-bottom: 3rem;
	margin-top: 1.5rem;
}
.profile-image {
	background: url("../background.jpg") no-repeat center center;
	background-size: cover;
	float: left;
	width: 35%;
}

.content {
	float: left;
	width: 65%;
	position: relative;
	padding: 50px;
}

h1 {
	font-family: "Nunito Sans", Helvetica, sans-serif;
	color: #333333;
	font-size: 1.25rem;
	font-weight: 400;
	padding-bottom: 30px;
}

.logo {
	background: url('../logo.svg') no-repeat;
	background-position: top left, top left;
	background-repeat: no-repeat;
	background-size: auto, auto 100%;
	width: 33px;
	height: 40px;
	padding: 0;
	margin: 0;
}

a {
	color: #a6a6a6;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
		-ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
a:hover {
	color: #00ff6a;
	text-decoration: none;
}

p {
	color: #999999;
	font-size: 0.875rem;
	margin-bottom: 30px;
}
/* List elements */
ul {
	width: 100%;
	margin-top: 30px;
}

ul li {
	list-style-type: none;
	display: inline-block;
	width: 10%;
	position: relative;
}

ul li a {
	text-decoration: none;
	color: #a6a6a6;
	font-style: italic;
	text-align: left;
	position: relative;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

ul.icons li .icon:before {
	font-size: 1.5em;
}
/* Icons */
.icon {
	font-size: .75em;
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.icon > .label {
	display: none;
}

/* Copyright elements */
.copyright {
	font-size: 0.8125em;
	color: #a6a6a6;
	margin: 2.5em 0 0 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.copyright li {
	display: inline-block;
	line-height: 1em;
	margin-left: 0.75em;
	padding-left: 0.75em;
}

.copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

.copyright li a {
	color: #a6a6a6;
	-webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
	  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
		-ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.copyright li a:hover {
	color: #00ff6a;
}

@media (max-width: 1024px) {
	.card {
		transform: translate(0, 0);
		position: absolute;
		margin: 0 auto;
		top: auto;
		left: auto;
		width: 100%;
		display: inline-block;
	}

	.profile-image {
		width: 100%;
		height: 450px;
	}

	.content {
		width: 100%;
		padding: 60px;
	}

	ul.icons li .icon {
		font-size: .75em;
	}	

	.copyright li {
		border-left-width: 1px;
		display: inline-block;
		line-height: 1em;
		margin-left: 0.75em;
		padding-left: 0.75em;
	}
}